body {
  padding: 0;
  margin: 0;
}

canvas {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
}

#canvas-container {
  width: max-content;
  margin: auto;
}
